body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.HeaderBackground {
    background-color: black;
    color: #fff;
}

.Heading {
    font-family: 'Ubuntu', sans-serif;
}

.CartIcon {
    color: #fff;
    font-size: 30px;
}

.Card {
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.CardImage {
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ProductName {
    font-size: 1rem;
    font-weight: 600;
}

.ProductPrice {
    color: red;
    font-size: 1rem;
}